Checks:          '*, -clang-analyzer-*, -llvmlibc-*, -llvm-header-guard, -portability-avoid-pragma-once, -fuchsia-trailing-return'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'   # or limit to your headers if you want
SystemHeaders:   false
